{% extends "sanremo/base.html" %}

{% block content %}
    <div class="container">

        {% if form.errors %}
            <div class="text-center">
                <p style="margin-top: 20px">Combinazione nome utente e password sbagliata</p>
            </div>
        {% endif %}
        <div class="offset-md-3 col-md-6 offset-sm-0 col-sm-12">
            <form method="post" action="{% url 'login' %}" style="margin-top: 20px">
                {% csrf_token %}
                <table class="mx-auto">
                    <tr >
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <div class="text-center">
                    <input type="submit" value="Accedi" class="btn btn-success" style="margin-top: 20px">
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>

{% endblock %}