{%  extends "sanremo/base.html"  %}

{% block content %}
    <header class="col-12" style="height: 100vh;
            max-height: 200px;
            background-image: url('{{ brano.foto.url }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">
    </header>

    <h1 class="col-12 text-center display-4" style="margin-top: 20px">{{ brano.titolo }}</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Interpreti
                        </h4>
                        <ul class="list-group list-group-flush">
                            {% for interprete in brano.interpreti.all %}
                                <li class="list-group-item">
                                    {% if interprete.wiki_url %}
                                        <a href="{{ interprete.wiki_url }}" target="_blank">
                                    {% endif %}
                                    {{ interprete }}
                                    {% if interprete.wiki_url %}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" style="margin-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Autori
                        </h4>
                        <ul class="list-group list-group-flush">
                            {% for autore in brano.autori.all %}
                                <li class="list-group-item">
                                    {% if autore.wiki_url %}
                                        <a href="{{ autore.wiki_url }}" target="_blank">
                                    {% endif %}
                                    {{ autore }}
                                    {% if autore.wiki_url %}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 20px">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTesto">
                                Testo
                            </button>
                        </h4>
                    </div>
                    <div id="collapseTesto" class="collapse">
                        <div class="card-body">
                            <pre>{{ brano.testo }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div class="container" style="margin-top: 20px; margin-bottom: 20px">
            <div class="row justify-content-center">
                <div class="text-center">
                    <a class="btn btn-primary col-12 col-md-6" style="margin-top: 20px"
                       href="{% url 'login' %}?next={{request.path}}">
                        Vuoi votare? Accedi!
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container" style="margin-top: 20px; margin-bottom: 20px">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                La tua valutazione
                            </h4>
                            {% if valutazioni %}
                                {% if valutazioni.count > 1 %}
                                    <p>Situazione incosistente, segnala a Ricky!</p>
                                {% else %}
                                    {% for valutazione in valutazioni %}
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Brano: {{ valutazione.voto_brano }}
                                            </li>
                                            <li class="list-group-item">
                                                Interpretazione: {{ valutazione.voto_interpretazione }}
                                            </li>
                                            <li class="list-group-item">
                                                Outfit: {{ valutazione.voto_outfit }}
                                            </li>
                                        </ul>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            <div class="text-center">
                                <button type="button" class="btn btn-primary col-12 col-md-6" data-toggle="modal"
                                        data-target="#exampleModalCenter" style="margin-top: 20px">
                                    Vota ora!
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Valutazione</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form action="{% url 'vota-brano' pk=brano.id %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <ul>
                            {{ form.as_ul }}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

